$font: "Poppins";
$font-thin: "Poppins thin";
$color1: #2a185d;
$color2: #584cb4;
$color3: #ba8ce4;
$color4: #15acff;
$color5: #e9f3fc;

title {
  color: red;
  font: 12px tahoma;
}

@font-face {
  font-family: "Poppins";
  src: url("../html/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins thin";
  src: url("../html/font/Poppins-Thin.ttf");
}
* {
  font-family: $font;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
body {
  width: 100%;
  background-color: $color5;
  background-image: radial-gradient(at 2% 78%, $color5 0px, transparent 50%),
    radial-gradient(at 50% 7%, $color4 0px, transparent 50%),
    radial-gradient(at 89% 10%, $color2 0px, transparent 50%),
    radial-gradient(at 77% 85%, $color3 0px, transparent 50%),
    radial-gradient(at 0% 100%, $color1 0px, transparent 50%),
    radial-gradient(at 0% 0%, $color5 0px, transparent 50%);
  background-repeat: no-repeat;
  background-position: 50% 0;
  margin: 0;
  padding: 0;
  @media (max-width: 650px) {
    background-color: $color1;
    background-image: radial-gradient(at 0% 0%, $color4 0px, transparent 50%),
      radial-gradient(at 30% 0%, $color2 0px, transparent 50%),
      radial-gradient(at 97% 50%, $color4 0px, transparent 50%),
      radial-gradient(at 50% 50%, $color3 0px, transparent 50%),
      radial-gradient(at 0% 100%, $color1 0px, transparent 50%),
      radial-gradient(at 0% 0%, $color1 0px, transparent 50%);
    color: $color5;
  }
}
main {
  color: $color1;
  @media (max-width: 650px) {
    color: $color5 !important;
  }
}

.header {
  &__title {
    color: $color5;
  }
  &__subtitle {
    color: $color1;
    @media (max-width: 650px) {
      color: $color5 !important;
    }
  }
  &__gotofooter {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $color1;
    padding: 8px;
    margin: 8px;
    color: $color3;
    font-weight: bold;
    font-size: 2em;
    line-height: 0.7em;
    box-shadow: 0px 4px 16px $color2;
    text-align: center;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    animation: slideInFromTop 1.5s ease-out forwards;
    img {
      width: 50px;
    }
    @media (max-width: 650px) {
      display: none;
    }
  }
}
.navbarmenu {
  container-type: inline-size;
  box-shadow: inset 0 4px 7px -5px rgba($color1, 0.3);
  background: rgba($color1, 0.025);
}
.froggiefooter {
  background-color: $color1;
  padding: 16px;
  color: $color4;
  position: relative;
  margin-top: 150px;
  box-shadow: 0px 4px 12px $color2;
  text-align: left;
  border-radius: 5px;
  &__overfrog {
    position: absolute;
    top: -115px;
    left: 30px;
    width: 200px;
    height: auto;
    z-index: 10;
    pointer-events: none;
  }
  &__title {
    font-family: $font-thin;
    font-size: 32px;
    color: $color3;
  }
  &__text {
    color: $color4;
    text-align: left;
    max-width: 100%;
    font-size: 16px;
    &--keyword {
      color: $color3;
      font-weight: bold;
    }
  }
}
@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.gitfooter {
  text-align: center;
  font-size: 16px;
  margin: 16px auto;
}
.slideFromBottom1S {
  animation: slideInFromBottom 1s ease-out forwards;
}
.slideFromBottom2S {
  animation: slideInFromBottom 2s ease-out forwards;
}
@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.gradient-hover {
  background: linear-gradient(45deg, $color5, $color4);
  background-size: 400% 400%;
  transition: background-position 1s ease;
  color: $color1;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  &:hover {
    background-position: 100% 0;
    cursor: pointer;
    color: $color5;
  }
  @container (width > 600px) {
    padding: 16px;
    border-radius: 16px;
    font-size: 18px;
  }
}

// Import Bootstrap :
@import "../node_modules/bootstrap/scss/bootstrap.scss";
