[mysqld]
# Spécifie l'encodage à utiliser
collation-server=utf8_general_ci
character-set-server=utf8
# Précise le type de connexion à la BDD par défaut
default-authentication-plugin=mysql_native_password
innodb_buffer_pool_size=2G
# Configuration du moteur par défaut
default_storage_engine=INNODB

# SQL mode activés par défaut :
# ONLY_FULL_GROUP_BY - rejette les requêtes pour lesquelles HAVING est utilisé en faisant référence à des colonnes non agrégée (HAVING doit dépendre d'une colonne dans GROUP BY)
# STRICT_TRANS_TABLES - activation du mode SQL strict si le moteur est transactionnel (INNODB, par exemple, l'est)
# NO_ZERO_IN_DATE - si le mode strict est activé, le serveur n'autorise pas l'insertion de dates avec une partie étant 0 (par exemple '2020-00-01')
# NO_ZERO_DATE - si mode strict, empêche l'insertion de '0000-00-00'
# ERROR_FOR_DIVISION_BY_ZERO - produit une erreur en cas de division par 0
# NO_ENGINE_SUBSTITUTION - empêche l'utilisation de moteur de remplacement si celui par défaut n'est pas fonctionnel (INNODB par défaut)