* {
  box-sizing: border-box;
}

.carrousel-container {
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  margin: 50px auto;
  position: relative;
  border: 10px solid white;
}

.carrousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carrousel-slide img {
  width: 100%;
  max-width: 600px;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 16px;
  cursor: pointer;
  font-size: 20px;
}

#prevBtn {
  left: 20px;
}

#nextBtn {
  right: 20px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
