#login-container {
    display: flex;
    justify-content: center;
}

#login-container > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

#login-container > form > input {
    padding: 10px;
}