body {
  text-align: center;
}

#anime {
  width: 150px;
  height: 150px;
  margin: 3em auto;
  background-color: #ffffff00;
  border: 20px solid #ffffff;
  border-radius: 30px;
  transition: border-radius 2s, border-color 3s;
  /* transition when the mouse leave */
}

#anime:hover {
  border-color: rgb(163, 25, 255);
  transform: rotate(1080deg);
  border-radius: 50%;
  transition: all 2s;
  /* transition when the mouse over */
}

#anime:after {
  content: "eCrea.fr 😜";
  position: relative;
  top: 40px;
  font-size: 30px;
  font-family: helvetica, arial, sans-serif;
  color: #888;
  opacity: 0;
  transition: opacity 2s;
}

#anime:hover:after {
  opacity: 1;
  transition: opacity 1s 1s;
}

h2 {
  font-family: "Open Sans", "Segeo UI", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin-top: 200px;
  color: #aaa;
  text-transform: uppercase;
}

.typing-effect-container {
  width: 380px; /* important que la taille du conteneur corresponde a la taille du texte avec effet */
  margin: auto;
}
.typing-effect {
  font-size: 2em;
  font-weight: 700;
  color: #f2f0f0;
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 1s steps(23) forwards,
    blink 0.5s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
