.box {
  padding: 10px;
  margin: 10px 0;
  color: white;
  text-align: center;
}
.inline {
  background-color: #007bff;
  display: inline;
}
.block {
  background-color: #28a745;
  display: block;
}
.inline-block {
  background-color: #6c757d;
  display: inline-block;
}
.flex {
  background-color: #17a2b8;
  display: flex;
  justify-content: space-evenly;
}
.inline-flex {
  background-color: #ffc107;
  display: inline-flex;
}
.grid {
  background-color: #6610f2;
  display: grid;
}
.none {
  background-color: #dc3545;
  display: none;
}
h3 {
  margin-top: 30px;
}
