@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css');

@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins thin';
    src: url('../font/Poppins-Thin.ttf');
}
@view-transition {
    navigation: auto;
}

* {
    font-family: 'Poppins';
    scroll-behavior: smooth; /*Ajoute l'animation de scroll en douceur */
}
body {
    width: 100%;
    background-color: #e9f3fc;
    background-image: radial-gradient(at 2% 78%, #e9f3fc 0px, transparent 50%),
        radial-gradient(at 50% 7%, #15acff 0px, transparent 50%),
        radial-gradient(at 89% 10%, #584cb4 0px, transparent 50%),
        radial-gradient(at 77% 85%, #ba8ce4 0px, transparent 50%),
        radial-gradient(at 0% 100%, #2a185d 0px, transparent 50%),
        radial-gradient(at 0% 0%, #e9f3fc 0px, transparent 50%);
    background-repeat: no-repeat;
    background-position: 50% 0;
    margin: 0;
    padding: 0;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.exercice {
    padding: 8px;
    margin: 24px;
    border: thin solid #282a36;
    float: none;
}
.exercice h1 {
    line-height: 16px;
    font-size: 16px;
    font-weight: bold !important;
}
.exercice::before {
    content: url('../../javascript/ressources/froggie-100.png');
    position: relative;
    top: -28px;
    z-index: 2;
    float: left;
}

.froggiesplaining {
    background-color: #282836;
    padding: 16px;
    margin: 16px;
    color: #15acff;
    position: relative;
    margin-top: 150px;
    box-shadow: 0px 4px 16px rgba(114, 21, 190, 0.5);
    text-align: left;
    border-radius: 5px;
}
.froggiesplaining span {
    font-family: 'Poppins thin';
    font-size: 32px;
    color: #ba8ce4;
}

.froggiesplaining strong {
    color: #ba8ce4;
}

.froggiesplaining p {
    color: #15acff;
    text-align: left;
    max-width: 100%;
    font-size: 16px;
}

.overfrog {
    position: absolute;
    top: -110px;
    left: 30px;
    width: 200px;
    height: auto;
    z-index: 10;
    pointer-events: none;
}

#goToFroggie {
    position: fixed;
    top: 8px;
    right: 8px;
    background-color: #232659;
    padding: 8px;
    color: #ba8ce4;
    font-weight: bold;
    font-size: 2em;
    line-height: 0.7em;
    box-shadow: 0px 4px 16px rgba(114, 21, 190, 0.5);
    text-align: center;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    animation: slideInFromTop 1.5s ease-out forwards;
}

#goToIndex {
    position: fixed;
    top: 8px;
    right: 90px;
    background-color: #232659;
    padding: 8px;
    color: #ba8ce4;
    font-weight: bold;
    font-size: 2em;
    line-height: 0.7em;
    box-shadow: 0px 4px 16px rgba(114, 21, 190, 0.5);
    text-align: center;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;
    animation: slideInFromTop 1.5s ease-out forwards;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animation des divs */
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#footerGit {
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.slideFromBottom1S {
    animation: slideInFromBottom 1s ease-out forwards;
}
.slideFromBottom2S {
    animation: slideInFromBottom 2s ease-out forwards;
}

/* Animation des divs */
@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
