* {
  margin: 0;
}

body {
  width: 100%;
  background-color: #f4f4f6;
  background-image: radial-gradient(at 2% 78%, #b8b7e1 0px, transparent 50%),
    radial-gradient(at 50% 7%, #f4c071 0px, transparent 50%),
    radial-gradient(at 89% 10%, #ff8a66 0px, transparent 50%),
    radial-gradient(at 77% 85%, #413ee5 0px, transparent 50%),
    radial-gradient(at 0% 100%, #9999ff 0px, transparent 50%),
    radial-gradient(at 0% 0%, #f4f4f6 0px, transparent 50%);
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: flex;
  align-items: center;
}

#wrapper {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.32);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@font-face {
  font-family: "titre";
  src: url("Koolegant.ttf");
}
h1 {
  font-family: "titre";
  font-size: 5em;
}

header,
main {
  padding: 16px 0;
  text-align: center;
  max-width: 800px;
}

nav {
  box-shadow: inset 0 4px 7px -5px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.025);
  width: 100%;
  padding: 24px 0;
}

ol {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
ol li {
  list-style: none;
  margin: 0 16px;
}
