main,
header {
  text-align: center;
}
body {
  height: 100vh;
}

iframe {
  width: 500px;
  height: 300px;
  border: 10px solid #ffffff;
  box-shadow: 0px 4px 16px rgba(114, 21, 190, 0.5);
  border-radius: 16px;
}
