.gradient-hover {
  background: linear-gradient(45deg, rgb(95, 108, 165), rgb(255, 255, 255));
  background-size: 200% 200%;
  transition: background-position 0.5s ease;
  color: blueviolet;
  padding: 20px;
  border-radius: 10px;
}

.gradient-hover:hover {
  background-position: 100% 0;
  cursor: pointer;
}

.max-width-custom {
  max-width: 1200px; /* Largeur maximale personnalisée */
}
