.gradient-hover {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0),
    rgb(243, 241, 245)
  );
  background-size: 400% 400%;
  transition: background-position 1s ease;
  color: blueviolet;
  padding: 8px;
  border-radius: 8px;
  font-size: 12px;
}

.gradient-hover:hover {
  background-position: 100% 0;
  cursor: pointer;
  font-weight: bold;
}

.max-width-custom {
  max-width: 1200px; /* Largeur maximale personnalisée */
}

a {
  text-decoration: none;
}

.nav-link {
  color: #f4f4f6;
}

@container (width > 500px) {
  .gradient-hover {
    padding: 16px;
    border-radius: 16px;
    font-size: 18px;
  }
}

/* Activer les container queries */
footer {
  container-type: inline-size;
}
