* {
  font-family: "Poppins";
}

body {
  background-color: rgb(22, 49, 83);
}

/* FLEX EXO 3 */

.container {
  display: flex;
  flex-direction: column;
}
.box {
  background: rgb(71, 88, 94);
  padding: 40px;
  margin: 10px;
  text-align: center;
  color: rgb(212, 0, 255);
  font-weight: bolder;
  font-size: 25px;
  font-family: Verdana, sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
}
.menu {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 1.5em;
}

/* FLEX PART EXO 4*/

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header,
footer {
  background: rgb(20, 48, 56);
  padding: 20px;
  text-align: center;
}
.main-content {
  display: flex;
  flex-grow: 1;
}
.sidebar-left,
.sidebar-right {
  flex-basis: 150px;
  background: rgb(173, 216, 207);
  padding: 20px;
}
main {
  flex-grow: 1;
  background: rgb(213, 222, 232);
  padding: 20px;
}

/* FLEX EXO 5*/

.container3 {
  display: flex;
  height: 500px;
  background: lightblue;
}
.box3 {
  text-align: center;
  background: rgb(182, 39, 14);
  padding: 10px;
  margin: 0px;
  height: 50px;
}
