@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins thin";
  src: url("Poppins-Thin.ttf");
}

* {
  font-family: "Poppins";
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.exercice {
  padding: 16px;
  margin: 16px;
  border: thin solid #282a36;
  text-align: left;
}

.froggiesplaining {
  background-color: #282a36;
  padding: 16px;
  margin: 16px;
  color: #68caff;
  position: relative;
  margin-top: 150px;
  box-shadow: 0px 4px 16px rgba(114, 21, 190, 0.5);
}
.froggiesplaining span {
  font-family: "Poppins thin";
  font-size: 32px;
}

.overfrog {
  position: absolute;
  top: -110px;
  left: 30px;
  width: 200px;
  height: auto;
  z-index: 10;
  pointer-events: none;
}
